{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/construct.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script> -->
    <script class="u-script" type="text/javascript" src="{% static 'js/construct.js' %}" defer=""></script>
</head>
<body>

    <header>

        <div class="logo-container">
        <div class="logo">
            <img width="140" height="100" src="{% static "image/M-stroy.svg" %}" alt="M-stroy">
        </div>

        <div class="contact-form">
            <p>Дома под ключ, заборы, благоустройство в {{city}}</p>
            <div>
                <button class = contact-button onclick="document.getElementById('id01').style.display='block'">Login</button>
            </div>




        </div>
        <div class="social">
            <img width="40" height="40" src="{% static "image/telegram.svg" %}" alt="M-stroy">
            <img width="40" height="40" src="{% static "image/viber.svg" %}" alt="M-stroy">
            <img width="40" height="40" src="{% static "image/instagram.svg" %}" alt="M-stroy">
        </div>
        </div>



        <div class="topnav" id="myTopnav">
          <a href="http://127.0.0.1:8000/admin/" class="active">Главная</a>
          <a href="#news">Строительство</a>
          <a href="#contact">Благоустройство</a>
          <div href="http://127.0.0.1:8000/admin/" class="dropdown">
            <button  class="dropbtn">
              <a href="http://127.0.0.1:8000/admin/">Заборы</a>
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <a href="#about">About</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </header>

    <!-- The Modal -->
    {% include "construct/modalform.html" %}

{% block content %}
{% endblock %}

</body>
</html>