{% load static %}
{% block modalform %}
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

            <form class="modal-content animate" action="" method="post" id="modal-form">
                <div class="container-modal">
                     {% csrf_token %}
                    {{ form.name_customer }}<br>
                    <br>
                    {{ form.phone_number }}<br>
                    <br>
                    {{ form.text_request }}<br>
                    <br>

                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" value="send">Отправить</button>
                </div>
            </form>
    </div>
{% endblock %}