{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/My_main.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/My_main.js' %}" defer=""></script>
</head>
<body>
    <header>

        <div class="topnav" id="myTopnav">
          <a href="#home" class="active">Home</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Dropdown
                    <i><svg viewBox="0 0 100 80" width="40" height="40">
                      <polygon points="10,6 25,40 40,6" class="triangle" />
                    </svg></i>
                </button>

                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars">
                <svg viewBox="0 0 100 80" width="40" height="40">
                  <rect width="100" height="20"></rect>
                  <rect y="30" width="100" height="20"></rect>
                  <rect y="60" width="100" height="20"></rect>
                </svg>
            </i>
          </a>
        </div>
    </header>


<div class="title_mainpage">
  <h1>Responsive Image Grid</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>


<div class="row">
  <div class="column">
      <div class="img_container">
        <img src="{% static "image/fence.jpeg" %}">
          <div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
          </div>
      </div>
      <div class="img_container">
        <img src="{% static "image/rancho.jpeg" %}">
          <div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
          </div>
      </div>

    <img src="{% static "image/68f64b9d.jpeg" %}">
  </div>
  <div class="column">
    <img src="{% static "image/68f64b9d.jpeg" %}">
    <img src="{% static "image/rancho.jpeg" %}">
    <img src="{% static "image/fence.jpeg" %}">
  </div>
  <div class="column">
    <img src="{% static "image/68f64b9d.jpeg" %}">
    <img src="{% static "image/rancho.jpeg" %}">
    <img src="{% static "image/fence.jpeg" %}">
  </div>

</div>

</body>
</html>