{% extends 'construct/Base.html' %}
{% load static %}

{% block content %}
<div class="blog-header">
  <h2>Blog Name</h2>
</div>

<div class="blog-row">
    <div class="blog-leftcolumn">

        <div class="blog-card">
            <div class="title-video">
                <h2>{{ video.video_title }} </h2>
                <h5>Описание статьи, {{ video.video_data }}</h5>
                <p>Some text..</p>
            </div>
            <iframe class="blog-videoframe" src="{{ video.video_path }}" title="YouTube video player" frameborder="0" allow=" autoplay;  web-share" allowfullscreen></iframe>
            <div class="description-video">
                <p> {{ video.video_describe }}</p>
            </div>
        </div>

    </div>
    <div class="blog-rightcolumn">
        <div class="blog-card">
          <h2>About Me</h2>
          <div class="blog-fakeimg">Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="blog-card">
            <h3>Popular Post</h3>
            <div class="blog-fakeimg">Image</div><br>
            <div class="blog-fakeimg">Image</div><br>
            <div class="blog-fakeimg">Image</div>
        </div>
        <div class="blog-card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
</div>

{% endblock %}